name: CI

on:
  push:
    branches:
      - main
      - develop
      - 'codex/**'
  pull_request:

jobs:
  phpunit:
    name: PHPUnit (PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: none
          coverage: none

      - name: Show PHP version
        run: php -v

      - name: Install PHPUnit
        run: |
          curl -L -o /tmp/phpunit.phar https://phar.phpunit.de/phpunit-11.phar
          php /tmp/phpunit.phar --version

      - name: Run tests
        run: php /tmp/phpunit.phar -c phpunit.xml.dist
